{% load admin_information %}
<div class="admin-header">
    {#  show / hidden button, used to show or hiddel sidemenu #}
    <div class="sidemenu-button pull-left" id="button-sidemenu">
        <a onclick=""><span class="glyphicon glyphicon-sort-by-attributes"></span></a>
    </div>

    {#  Title #}
    <div class="title pull-left">
        {% get_admin_site_main_title %}
    </div>

    {#  Links #}
    <div class="greeting pull-right">
        {#  View website link #}
        <span>WELCOME, {{ user.username }}</span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        {#  Change password function #}
        <span><a href="/" target="_blank">View Site</a></span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        {#  Log out link #}
        <span><a href="{% url 'admin_site:logout' %}" >Logout</a></span>
    </div>
</div>