{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | Administrator Page</title>

    {% include "admin/common/_main_head.html" %}
    {% block special_css %}{% endblock %}

</head>
<body>

{% block navbar %}
    {% include "admin/common/_header.html"  %}
{% endblock %}

{% block sidemenu %}
    {% include "admin/common/_sidemenu.html" %}
{% endblock %}

{% block content %}
{% endblock %}

<script src="{% static 'staticfiles/js/jquery-3.2.0.min.js' %}"></script>
<script src="{% static 'staticfiles/js/bootstrap.min.js' %}"></script>

{% block special_js %}
{% endblock %}

</body>
</html>