{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %} | Administrator Page</title>

{% include "admin/common/_main_head.html" %}
{% block special_css %}{% endblock %}
{% block extrastyle %}{% endblock %}
<script src="{% static 'staticfiles/js/jquery-3.2.0.min.js' %}"></script>
<script src="{% static 'staticfiles/js/bootstrap.min.js' %}"></script>
<script src="{% static 'staticfiles/js/admin/common.js' %}"></script>

</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">

{% block navbar %}
    {% include "admin/common/_header.html"  %}
{% endblock %}

{% load admin_information %}
{% block sidemenu %}
    {% get_side_menu request %}
{% endblock %}

{% block content %}{% endblock %}

{% block special_js %}{% endblock %}

</body>
</html>