{% extends "admin/admin_base.html" %}
{% load staticfiles %}

{% block title %}User Login{% endblock %}
{% block special_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/css/animation.css' %}" />
{% endblock %}

{#{% block navbar %}{% endblock %}  {# We do not need navbar in login.html #}
{#{% block sidemenu %}{% endblock %}  {# We do not need sidemenu in login.html #}

{% load admin_information %}

{% block content %}
<div class="admin-login-content">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="login-title">
                {% get_admin_site_main_title %}
            </div>
            <div class="login-content slideUp">
                <div class="title">
                    <span>Please Log In</span>
                </div>
                <hr>
                {% if errorMessages %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {% for item in errorMessages %}
                            {{ item }} <br>
                        {% endfor %}
                    </div>
                {% endif %}
                <form action="{% url 'admin_site:login' %}" method="post" id="login-form">
                    {% csrf_token %}
                    <input type="hidden" value="{{ next }}" name="next" />
                    <div class="input-group">
                        <span class="input-group-addon input-label">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" name="username" class="form-control input-input" placeholder="User Name">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon input-label">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" name="password" class="form-control input-input" placeholder="Password">
                    </div>
                    <div class="submit-row" style="text-align: center;">
                        <button type="button" class="btn btn-primary" onclick="this.form.submit();">
                            <span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log In
                        </button>
                    </div>
                </form>
                <hr>
                {% get_admin_site_copyright %}
            </div>
        </div>
    </div>

</div>

{% endblock %}

